<!-- wp:template-part {"slug":"header","theme":"twentytwentyfive-child"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
    <!-- Single Book -->
    <!-- wp:post-featured-image {"align":"center"} /-->
    <!-- wp:post-title {"textAlign":"center","level":1} /-->
    <!-- wp:post-terms {"term":"book-genre","fontSize":"small"} /-->
    <!-- wp:post-date {"fontSize":"small"} /-->
    <!-- wp:post-content /-->

    <!-- Pattern with other books -->
    <!-- wp:pattern {"slug":"twentytwentyfive-child/other-books-list"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentyfive-child"} /-->